<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <style>
    .table-container {
      padding: 20 20;
    }
    .title {
      font-size: 30;
      font-weight: 600;
      padding-bottom: 20;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    tr:hover {
      background-color: #ccc;
    }
    a {
      text-decoration: none;
    }
  </style>
  <body>
    <div class="topnav">
      <a href="/" class="active">Home</a>
      <a href="/create">Create user</a>
      <a href="/update">Edit</a>
    </div>
    <div class="table-container">
      <div class="title">List Users</div>
      <table>
        <tr>
          <th>Id</th>
          <th>Email</th>
          <th>Name</th>
          <th>City</th>
          <th>Actions</th>
          <!-- Ví dụ về Vòng lặp trong EJS -->
        </tr>
        <ul>
          <% listUsers.forEach(function(user) { %>
          <tr>
            <td><%= JSON.stringify(user.id)%></td>
            <td><%= JSON.stringify(user.email)%></td>
            <td><%= JSON.stringify(user.name)%></td>
            <td><%= JSON.stringify(user.city)%></td>
            <td>
              <button>
                <a href="/update/<%=user.id%>">Edit</a>
              </button>
              <form action="/delete-user/<%=user.id%>" method="POST">
                <button>Delete</button>
              </form>
            </td>
          </tr>
          <% }); %>
        </ul>
      </table>
    </div>
  </body>
</html>
